<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team C UNO</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="flex justify-center items-center h-screen">
    <nav id="nav">
      <a href="/lobby" class="text-2xl font-bold hover:underline hover:text-gray-500">Lobby</a>&emsp;&emsp;
      <a href="/login" class="text-2xl font-bold hover:underline hover:text-gray-500">Login</a>&emsp;&emsp;
      <a href="/signup" class="text-2xl font-bold hover:underline hover:text-gray-500">SignUp</a>
    </nav>
  </div>
</body>

</html>