<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Signup</title>
</head>

<body>
    <form id="loginForm" action="/login" method="post">
        TEST LOGIN<br>
        Username: <input name="username"><br>
        Password: <input name="password" type="password"><br>
        <button type="submit">login</button>
    </form>

    <br><br>

    <form id="signupForm" action="/signup" method="post">
        <br><br>
        TEST SIGNUP<br>
        Username: <input name="username"><br>
        Fullname: <input name="fullname"><br>
        Password: <input name="password" type="password"><br>
        <button type="submit">signup</button>
    </form>

    <script>
    </script>
</body>

</html>