<li>
  Game A
  <button
    class="flex justify-end mb-2 bg-green-500 text-white px-2 py-1 rounded"
  >
    Join
  </button>
</li>
<li>
  Game B
  <button
    class="flex justify-end mb-2 bg-green-500 text-white px-2 py-1 rounded"
  >
    Join
  </button>
</li>
<li>
  Game C
  <button
    class="flex justify-end mb-2 bg-green-500 text-white px-2 py-1 rounded"
  >
    Join
  </button>
</li>
<li>
  Game D
  <button
    class="flex justify-end mb-2 bg-green-500 text-white px-2 py-1 rounded"
  >
    Join
  </button>
</li>
