<!-- Temp nav bar, customize as you like-->
<div style="position: fixed; top: 0" class="text-center">
  <ul class="flex">
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="/">Landing</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="/lobby">Lobby</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="/test">Test</a>
    </li>
  </ul>
</div>
