<div class="rules-content">
  <p class="border-l-4 border-red-500 pl-4 mb-4">
    <span class="font-bold block mb-2">Setup:</span>
    UNO cards have four color "suits", which are red, yellow, blue and green. A
    UNO deck has 108 cards: 76 Number cards (one 0, two sets of 1-9 in each
    color), 24 Action cards (two sets of Draw 2, Reverse, Skip in each color),
    and 8 Wild cards (four Wild, four Wild Draw 4).
  </p>

  <p class="border-l-4 border-red-500 pl-4 mb-4">
    <span class="font-bold block mb-2">Playing the Game:</span>
    Players take turns matching a card from their hand to the card on the top of
    the discard pile, either by number, color, or symbol (symbols are Draw Two,
    Reverse, and Skip). If you don't have a matching card, you must draw from
    the draw pile until you get a playable card.
  </p>

  <p class="border-l-4 border-red-500 pl-4 mb-4">
    <span class="font-bold block mb-2">Special Cards:</span>
    Skip: When played, skip the next player. Reverse: Reverses direction of
    play. Draw Two: Next player draws two cards and misses a turn. Wild: Play
    any color you want and state the new color. Wild Draw Four: Player gets to
    choose new color and next player draws four cards and misses a turn. Can
    only be played if the player doesn't have a card in the color led.
  </p>

  <p class="border-l-4 border-red-500 pl-4 mb-4">
    <span class="font-bold block mb-2">Going Out (Getting Uno):</span>
    When you get down to one card left, you must say "Uno" to alert other
    players. Failing to do so results in drawing two more cards if caught. You
    can go out by discarding your second-to-last card if it matches the upcard,
    then discarding your last card. The first player to get rid of all their
    cards wins! Players score points for cards left in opponents' hands.
  </p>
</div>
