<!doctype html>
<html lang="en">
  <% if(errorMsg && errorMsg.length > 0) { %>
  <script>
    alert("<%= errorMsg %>");
  </script>
  <% } %>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/dist/style.css" />
    <script src="/dist/index.js" defer></script>
    <%- include("./layout/favicons") %>
  </head>

  <body class="flex items-center justify-center h-screen bg-gray-900">
    <div class="w-96 bg-white rounded-lg shadow-xl p-8">
      <h1 class="text-4xl font-bold text-center mb-8">Login</h1>
      <form action="/login" method="post" class="space-y-4">
        <div>
          <label class="block text-gray-700" for="username"> Username </label>
          <input
            class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:border-blue-500 transition-colors duration-300"
            id="username"
            name="username"
            type="text"
            placeholder="Username"
            required
          />
        </div>
        <div>
          <label class="block text-gray-700" for="password"> Password </label>
          <input
            class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:border-blue-500 transition-colors duration-300"
            id="password"
            name="password"
            type="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition-colors duration-300 focus:outline-none focus:bg-blue-600"
            type="submit"
          >
            Log In
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
