<!doctype html>
<html lang="en">
  <%- include("./layout/server-var") %>

  <head>
    <%- include("./layout/header") %>
    <title>UNO Game</title>
  </head>

  <%- include("./layout/nav-bar") %>

  <body class="bg-gray-200 flex flex-col items-center justify-center h-screen">
    <div class="container mx-auto px-4">
      <div class="flex">
        <!-- UNO Game Interface -->
        <div class="w-1/3 border border-red-500 p-4">
          <h2 class="text-lg font-bold mb-4 text-red-500">UNO GAME</h2>
          <div class="flex">
            <div class="w-full border border-red-500 p-4">
              UNO GAME INTERFACE
              <!-- Game interface and controls -->
            </div>
          </div>
        </div>

        <!-- Leaderboard and Controls -->
        <div class="w-1/3 border border-red-500 p-4" id="lobbyContainer">
          <div class="leaderboard bg-gray-200 p-4 rounded">
            <h3 class="text-lg font-bold mb-2">LEADERBOARD INTERFACE</h3>
            <p class="text-base mb-2">STATUS - PLAY</p>
            <button
              class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mr-2"
              id="abandonButton"
            >
              Abandon
            </button>
            <button
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
              id="drawButton"
            >
              Draw
            </button>
            <button
              class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
              id="sayUnoButton"
            >
              SAY UNO!
            </button>
          </div>
        </div>

        <%- include("./layout/chat-box") %>
      </div>
    </div>
  </body>
</html>
